mixin sDepositPage(data)
	// start sDepositPage
	+b.SECTION.sDepositPage.section#sDepositPage&attributes(attributes)
		.container
			.row
				.col-lg-9.col-12
					h1 Месторождения
					+e.caption Наше предприятие осуществляет прямые поставки сырья из гранита и мрамора с самых разных&nbsp;карьеров России, Казахстана, Китая, Турции, Украины и месторождений других стран.&nbsp;Наше&nbsp;предприятие реализует любые проекты и любой сложности.
				.col-lg-3.d-none.d-lg-flex.align-items-center.flex-column
					+e.call-wrap
						+e.call-icon
							+icon('cargo-truck')
						+e.call-title Можем доставить камень из любой точки мира под Ваш объект
					+e.tel 8 (812) 317-12-09
					+e.tel-link(href="#") Заказать звонок
					+e.soc-wrap
						a(href="#")
							img(src="img/svg/whatsapp.svg", alt="")
						a(href="#")
							img(src="img/svg/telegram.svg", alt="")
				mixin item(i,t,c)
					+e.item
						+pic(`sDeposits-${i}.png`,'',0)
						+e.item-title(href="#")!=t
						+e.item-caption!=c
			.row
				- for(var x=0;x<3;x++)
					+item(1,`Ладожское`,`Ладожский гранит добывается в Ленинградской области в поселке Кузнечное, Приозерский район.`)
					+item(2,`Кузреченское`,`Кузреченский – российский гранит из месторождений Мурманской области.`)
					+item(3,`Жельтау-5`,`Гранит Жельтау-5 добывается в Казахстане и считается самым "красным" гранитом из Жельтаусских месторождений.`)
					+item(4,`Санарское`,`Санарского месторожение. В Троицком районе Челябинской области располагается еще одно южноуральское месторождение гранита – Нижне-Санарское.`)
					+item(5,`Западно Султаевское`,`Западно-Султаевский гранитный карьер Месторождение Западно-Султаевский гранитный карьер расположено в 2 км от деревни Султаево в Сосновском районе Челябинской области.`)
	// end sDepositPage