// start .sContactPage
.sContactPage {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	--sPT: 18px;
	.tabs {
		&__caption {
			display: flex;
			flex-direction: column;
			@include media-breakpoint-up(md) {
				flex-direction: row;
			}
			.active {
				@extend .btn;
				border-color: $primary;
				background-color: $primary;
				color: $white;
				padding-top: 15px;
				padding-bottom: 15px;
				&:hover {
					background-color: #8e1616;
					border-color: #851414;
					color: $white;
				}
			}
		}
		&__wrap {
			margin-top: 44px;
		}
		&__btn {
			cursor: pointer;
			@include mt;
			@extend .btn;
			border-color: $primary;
			background-color: $white;
			color: $primary;
			font-size: $large;
			width: 100%;
			@include media-breakpoint-up(md) {
				width: 262px;
			}
			max-width: 100%;
			padding-top: 15px;
			padding-bottom: 15px;
			&:hover {
				background-color: #8e1616;
				border-color: #851414;
				color: $white;
			}
		}
		&__content {
		}
	}
	&__contacts-wrap {
		background-color: $white;
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}
	}
	&__info-block {
		@include media-breakpoint-up(lg) {
			width: 40%;
		}
		background-color: $white;
		padding-top: 47px;
		padding-bottom: 68px;
		padding-left: 65px;
		padding-right: 65px;
	}
	&__title {
		color: $black;
		font-weight: 500;
		position: relative;
		margin-bottom: 8px;
		&::before {
			content: "";
			position: absolute;
			top: 50%;
			transform: translateY(-65%);
			left: -30px;
			background-size: contain;
			background-repeat: no-repeat;
		}
		&--address {
			&::before {
				background-image: url("../img/svg/contact-loc.svg");
				width: 14px;
				height: 19px;
			}
		}
		&--work {
			&::before {
				background-image: url("../img/svg/contact-time.svg");
				width: 19px;
				height: 19px;
			}
		}
		&--call {
			&::before {
				background-image: url("../img/svg/contact-call.svg");
				width: 16px;
				height: 16px;
			}
		}
		&--mail {
			&::before {
				background-image: url("../img/svg/contact-mail.svg");
				width: 17px;
				height: 12px;
			}
		}
	}
	&__caption {
		font-weight: 200;
		font-size: $large;
		color: #6a6a6a;
		line-height: 27px;
		margin-bottom: 26px;
		&--tel {
			display: flex;
			p {
				margin-bottom: 0;
				margin-right: 24px;
				min-width: 153px;
			}
			a {
				margin-right: 13px;
				&:hover {
					opacity: 0.85;
				}
				img {
					width: 25px;
					height: 25px;
				}
			}
		}
	}
	.ya-share2__item {
		margin-right: 10px !important;
	}
	&__map-block {
		position: relative;
		overflow: hidden;
		@include media-breakpoint-up(lg) {
			width: 60%;
		}
		iframe {
			width: 100%;
			height: 100%;
			min-height: 300px;
		}
	}
	&__requisites {
		background-color: $white;
		@include media-breakpoint-up(lg) {
			padding-top: 40px;
			padding-bottom: 40px;
			padding-left: 35px;
			padding-right: 35px;
		}
		padding-top: 20px;
		padding-bottom: 20px;
		padding-left: 35px;
		padding-right: 35px;
		display: flex;
		flex-direction: column;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
			justify-content: space-between;
		}
	}
	&__requisites-text {
		h3 {
			color: $black;
			margin-bottom: 24px;
		}
		@include media-breakpoint-up(lg) {
			min-width: 625px;
		}
		// table {
		// 	width: 100%;
		// 	td {
		// 		padding-bottom: 24px;
		// 		&:nth-child(1) {
		// 			color: #6a6a6a;
		// 			font-weight: 200;
		// 			font-size: 14px;
		// 			max-width: 100px;
		// 			@include media-breakpoint-up(sm) {
		// 				width: 38%;
		// 				text-align: right;
		// 				max-width: none;
		// 				font-size: $large;
		// 			}
		// 		}
		// 		&:nth-child(2) {
		// 		}
		// 	}
		// }
	}
	&__req-block {
		width: 100%;
		padding-bottom: 24px;
	}
	&__req-title {
		font-size: $large;
		color: $black;
		font-weight: 500;
		margin-bottom: 36px;
	}
	&__string {
		display: flex;
		@include media-breakpoint-up(lg) {
			flex-direction: row;
		}
		flex-direction: column;
	}
	&__string-title {
		color: #6a6a6a;
		font-weight: 200;
		font-size: $large;
		@include media-breakpoint-up(lg) {
			width: 38%;
			text-align: right;
			max-width: none;
		}
		padding-bottom: 24px;
	}
	&__string-caption {
		color: $black;
		font-size: $large;
		padding-left: 3px;
		font-weight: 500;
		@include media-breakpoint-up(lg) {
			padding-left: 29px;
		}
		padding-bottom: 24px;
	}
	&__requisites-photo {
		@include media-breakpoint-up(lg) {
			padding-left: 30px;
			flex-direction: column;
			justify-content: space-evenly;
		}
		@include media-breakpoint-up(xl) {
			justify-content: space-between;
		}
		display: flex;
		justify-content: center;
		@include media-breakpoint-down(sm) {
			flex-direction: column;
			align-items: center;
		}
		picture {
			@include media-breakpoint-down(lg) {
				margin-left: 5px;
				margin-right: 5px;
			}
			@include media-breakpoint-down(sm) {
				margin-left: 0;
				margin-right: 0;
				margin-bottom: 10px;
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sContactPage
