.footer {
	background-color: $white;
	padding-top: 40px;
	padding-bottom: 40px;
	p{
		text-align: center;
		font-size: $small;
		color: #8e8e8e;
		margin-bottom: 0;
		line-height: $small;
		max-width: 220px;
		margin-left: auto;
		margin-right: auto;
		@include media-breakpoint-up(md){
			max-width: none;
			margin: 0;
		}
		a{
			color: #8e8e8e;
			text-decoration: underline;
			&:hover{
				color:#8e1616;
			}
		}
	}
	//
	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}
