// start .sReviews
.sReviews {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(72)};
		--sPB: #{rem(132)};
		--sTPB: #{rem(51)};
	}
	.picture-bg {
		opacity: 0.59;
		// &::before{
		// 	content: '';
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-color: #131313;
		// 	opacity: 0.5;
		// }
	}
	background-color: #131313;
	h2 {
		color: $white;
		max-width: 200px;
		@include media-breakpoint-up(sm) {
			max-width: none;
		}
	}
	&__pics {
		display: flex;
		flex-direction: column;
		align-items: center;
		picture {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-left: auto;
			margin-right: auto;
			width: rem(139);
			height: rem(116);
			@include media-breakpoint-up(sm) {
				width: rem(164);
				height: rem(136);
			}
			img {
				max-height: 100%;
			}
		}
	}
	&__link {
		margin-top: rem(33);
		display: inline-block;
		position: relative;
		@include media-breakpoint-up(lg) {
			margin-left: rem(-20);
		}
		&::after {
			content: "";
			position: absolute;
			top: 56%;
			right: -29px;
			transform: translateY(-50%);
			width: 20px;
			height: 15px;
			background-image: url("../img/svg/arrow-link.svg");
		}
	}
	&__col {
		&:nth-child(7) {
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
		&:nth-child(8) {
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
		&:nth-child(9) {
			@include media-breakpoint-down(lg) {
				display: none;
			}
		}
	}
	&__slider {
		@include media-breakpoint-up(xl) {
			padding-left: rem(53);
		}
		@include media-breakpoint-down(md){
			overflow: unset !important;
		}
		.swiper-slide {
			width: auto;
			@include media-breakpoint-down(md){
				margin-right: rem(28);
			}
			a{
				max-height: 318px;
				max-width: 225px;
				@include media-breakpoint-up(lg) {
					max-height: 480px;
					max-width: 340px;
				}
			}
			picture {
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				@include block(340, 480);
				height: 318px;
				width: 225px;
				@include media-breakpoint-up(lg) {
					height: 480px;
					width: 340px;
				}
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
	.swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 50px;
		height: 50px;
		background-color: transparent !important;
		border: 3px solid rgba(255, 255, 255, 0.21) !important;
	}
	.swiper-button-prev{
		@include media-breakpoint-up(xl) {
			left: rem(53);
		}
		left: -5px;
	}
	.swiper-button-next{
		@include media-breakpoint-up(xl){
			right: 0;
		}
		right: -5px;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sReviews
