// start .sidebar
.sidebar {
		// --sPT: ;
		// --sPB: ;
		// --sTPB: ;

		--sp-x: #{rem(22)};
		&__body{

		}
		&__head{
			background-color: #fff;
			@extend .h3;
			margin-bottom: 0;
			padding: rem(24) var(--sp-x);
			border-bottom: 5px solid $body-bg;
			position: relative;
			@include media-breakpoint-down(lg) {
				span{
					cursor: pointer;
					position: absolute;
					width: 40px;
					height: 40px;
					transform: rotate(45deg);
					right: 20px;
					top: 20px;
					&::before,
					&::after{
						content: '';
						width: 40px;
						height: 2px; 
						background-color: currentColor;
						@include a-cent;
						position: absolute;
					}
					&::after{
						transform: rotate(90deg);
					}
				}
			}
		}
		.dd-group{
			background-color: #fff;
			&__item{
				border-bottom: 5px solid $body-bg;
				&.active{ 
					--rotate: 180deg;
				}
			}
			&__head{
				padding: rem(20) var(--sp-x);
				padding-right: calc(var(--sp-x) + 2rem );
				font-weight: 500;
				position: relative;
				cursor: pointer;
				font-size: $large;
				.icon{
					font-size: rem(16);
					color: #afafaf;
					position: absolute;
					right: var(--sp-x);
					transform: rotateX(var(--rotate));
					margin-top: rem(5);
					@include mt;
				}
			}
			&__content:not(.active) {  
					display: none; 
			}
			
			&__content{
				padding: 0 var(--sp-x) rem(29);
			}
		}
		&__btn{
			@extend .btn ;
			width: 100%;
			border-radius: 0;
			padding: rem(17);
			.icon{
				font-size: rem(12);
				margin-right: rem(10);
			}
		}

		&__filter{
			margin-bottom: rem(30);
			@include media-breakpoint-down(lg) {
				@include mt;
				left: 0;
				top: 0;
				width: 100%;
				height: 100vh;
				overflow-y: auto;
				overflow-x: hidden;
				padding-bottom: rem(50);
				background-color: $body-bg;
				position: fixed;
				z-index: 1000;
				&:not(.active) {
					transform: translateX(-100%);
				}
			}

		}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sidebar

.range-wrap{
	.row{
		--bs-gutter-x: 34px;
	}
	.form-control{
		background-color: #fff;
		// height: 44px;
		padding: rem(9) rem(15);
	}
}

.consultant-block{
	background-color: #fff;
	padding: rem(55) rem(20) rem(40);
	text-align: center;
	&__avatar{
		width: rem(153);
		margin-left: auto;
		margin-right: auto;
		position: relative;
		&::before{
			content: '';
			position: absolute;
			width: $large;
			height: 19px;
			border: 3px solid $white;
			background-color: #99e51f;
			border-radius: 50%;
			right: rem(15);
			bottom: rem(15);
		}
		picture{
			background-color: $body-bg;
			border-radius: 50%;
			width: rem(153);
			height: rem(153);
			display: block;
		
		}
	}
	.row{
		justify-content: center;
		img{
			width: 25px;
		}
	}
	&__name{
		font-size: rem(20);
		font-weight: 500;
	}
	&__prof{
		color: #737373;
		font-weight: 300;
		margin-bottom: 1rem;
	}
	&__tel{
		font-size: rem(20);
		font-weight: 900;
		color: $body-color;
		display: inline-block;
		margin-bottom: rem(17);
	}
}