mixin sArticles(data)
	// start sArticles
	+b.SECTION.sArticles.section#sArticles&attributes(attributes)
		.container
			+b.section-title
				h1 Статьи
			.row
				mixin item(i, h, t)
					.col-md-6.col-lg-4
						+e.item(href="#")
							+pic(`sArticles-${i}.jpg`,'bg',0)
							+e.item-caption
								h5!= h
								p!= t
				+item(1, `Фонтаны из натурального камня`, `Фонтаны из натурального камня украшают интерьеры и архитектурно-ландшафтные ансамбли с давних времен. Они придают помещению благородный внешний вид, создают атмосферу спокойствия и умиротворения`)
				+item(2, `Виды гранитной брусчатки`, `Брусчатка из гранита - это очень красивое и долговечное покрытие. Она появилась еще во времена Римской Империи и до сегодняшнего дня не утратила своей популярности в строительстве.`)
				+item(3, `Виды гранитной брусчатки`, `Брусчатка из гранита - это очень красивое и долговечное покрытие. Она появилась еще во времена Римской Империи и до сегодняшнего дня не утратила своей популярности в строительстве.`)

	// end sArticles