// start .sReviewsSlider
.sReviewsSlider {
	--sPT: 50px;
	--sPB: 300px;
	// --sTPB: ;
	h1 {
		color: $white;
		margin-bottom: 30px;
		@include media-breakpoint-up(lg) {
			margin-bottom: 48px;
		}
	}
	&__caption {
		color: #cbcbcb;
		font-weight: 200;
		font-size: $large;
		letter-spacing: 0.3px;
		margin-bottom: 47px;
	}
	&__row {
		--bs-gutter-x: 40px;
		--bs-gutter-y: 22px;
	}
	&__item-title {
		color: $primary;
		font-weight: 900;
		font-size: 85px;
		line-height: 85px;
		@include media-breakpoint-down(sm) {
			text-align: center;
		}
	}
	&__item-caption {
		color: $primary;
		font-size: $small;
		line-height: 22px;
		max-width: 220px;
		@include media-breakpoint-down(sm) {
			margin-left: auto;
			margin-right: auto;
		}
	}
	&__slider {
		// @include media-breakpoint-down(){
		// 	overflow: unset !important;
		// }
		@include media-breakpoint-down(lg){
			margin-top: 30px;
		}
		padding-bottom: 40px;
		.swiper-slide {
			width: auto;
			@include media-breakpoint-down(sm){
				margin-right: rem(28);
			}
			a{
				max-height: 318px;
				max-width: 225px;
				@include media-breakpoint-up(lg) {
					max-height: 480px;
					max-width: 340px;
				}
			}
			picture {
				text-align: center;
				margin-left: auto;
				margin-right: auto;
				@include block(340, 480);
				height: 318px;
				width: 225px;
				@include media-breakpoint-up(xl) {
					height: 550px;
					width: 390px;
				}
				@include media-breakpoint-up(lg){
					height: 382px;
					width: 270px;
				}
				img {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
			}
		}
	}
	.swiper-button-prev,
	.swiper-button-next {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 50px;
		height: 50px;
		background-color: transparent !important;
		border: 3px solid rgba(255, 255, 255, 0.21) !important;
	}
	.swiper-button-prev{
		left: 0;
	}
	.swiper-button-next{
		@include media-breakpoint-up(xl){
			right: 0;
		}
		right: -5px;
	}
	.swiper-pagination{
		bottom: -7px;
	}
	.swiper-pagination-bullet{
		width: 19px;
		height: 19px;
		background-color: $white;
		@include mt;
		opacity: 0.3;
		&-active{
			opacity: 1;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sReviewsSlider
