// start .sQwiz
.sQwiz {
	
	background-color: rgba($color: #090909, $alpha: .6);
	color: #fff;
	padding: rem(23) ;
	min-height: rem(470);
 
		&__head{
			text-align: center;
			font-size: rem(14);
			padding-top: rem(20);
			color: $secondary;
			margin-bottom: 1rem;
			.row{
				align-items: center;
			}
		}

	&__btn-control{
		@extend .btn;
		@extend .btn-primary;
		width: 50px;
		height: 50px; 
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		position: relative;
		// border: 3px solid ;
		border-width: 3px;
		&:after {
    background-image: url(../img/svg/arrow-slider.svg);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 23px;
	}
	&.disabled{
		pointer-events: none;
		border-color: rgba(255, 255, 255, 0.21);
		// opacity: 0.5;
		background: transparent;
		// border-color: #fff;
	}
	
}
&__btn{
	width: 50px;
		height: 50px; 
}
.sCalc__btn--prev{
	opacity: 0.5;
	&::after{
	transform: translate(-50%,-50%) rotate(-180deg);

}
}
&__body{
	margin-left: auto;
	margin-right: auto;
	max-width: rem(586);
}

	&__title{
		font-weight: 500;
		font-size: rem(28);
		margin-bottom: rem(40);
		color: #fff;
		text-align: center;
		font-weight: bold;
	}

	&__step{
		&:first-child{
			.sCalc__btn--next{
				border-color: rgba(255, 255, 255, 0.21);
				// opacity: 0.5;
				background: transparent;
				// border-color: #fff;
			}
			.sCalc__btn--prev{
				// display: none;
				opacity: 0;
			}
		}
		&:not(.active) {
			display: none;
		}
		.row{
			justify-content: center;
		}
		&--last{ 
		 padding-top: 10px;
		//  @include media-breakpoint-up(xl) {

		// 	 &::before{
		// 		 content: url(../img/@2x/step-bg.png);
		// 		 position: absolute;
		// 		 bottom: 0;
		// 		 right: 0;
		// 		 z-index: -1;
		// 		}
		// 	}
		}
	}
	.form-wrap{
		// max-width: rem(350 + 20  + 295);
		margin-left: auto;
		margin-right: auto;
		margin-bottom: rem(40);
		max-width: rem(715);
			&__input{
					padding: rem(19) rem(27);
					// font-size: 400px;
					font-weight: 200;
						margin-bottom: var(--bs-gutter-x);
			margin-bottom: rem(16);
					
					// height: auto;
			}
			.btn{
				text-align: center;
				padding: 0 rem(15);
				height: rem(65);
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.btn {
				 @include media-breakpoint-up(sm) 
				 {

					//  width: rem(295);
				 }
				 width: 100%;
			}
	}


	&__form-title{
		max-width: rem(540);
		@include rfs(28px);
		margin-bottom: rem(47);
		span{
			color: $primary;
			font-weight: bold;
		}
	}


		ul {
		 
			max-width: rem(550);
			list-style: none;
			font-weight: 600;
			margin-bottom: 30px;
		}

		li {
			margin-bottom: 25px;

			&::before {
				content: '+ ';
				margin-right: rem(19);
				color: $primary;
			}
		}

		&__block-wrap{
			margin-left: auto;
			margin-right: auto;
			max-width: rem(278);
		}
	&__block-wrap	&__input{
		font-size: $large;
		padding: rem(10.5) rem(30);
		color: #fff;
		font-weight: 300;
			border-radius: 25px;
			border: 3px solid rgba(255, 255, 255, 0.21);
				&::placeholder{
					color: #fff;
				}
			&:focus{
				border-color: $primary;
			}
			background-color: transparent;
			padding-left: rem(31);
			margin-bottom: var(--bs-gutter-x); 
		}


		.irs--round .irs-bar, .irs--round .irs-line {
    height: 4px;
    top: 42px;
}
.irs--round .irs-handle{
	width: 30px;
	height: 30px;
}
.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before{
	display: none;
}
.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-single{
	background: none;
	font-size: $large;
font-weight: 300;
cursor: pointer;
}
&__range-wrap{
	margin-bottom: rem(64);
}


	.form-wrap{
		.btn{
			width: 100%;
			display: block;
		}
	}


	&__sub-text{
		color: #909090;  
		text-align: center;
		font-size: $large;
		font-weight: 300;
		margin-bottom: 2em;
	}

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sQwiz

.progress{
	background: #ACE1EF;
	border-radius: 20px;
	border-radius: 20px;
	height: 11px;
	margin-top: 1rem;
	margin-bottom: rem(47);
	&__bar{
		height: 100%;
		border-radius: 20px;
		// background: linear-gradient(0deg, #1CB4DB, #1CB4DB),
		// #1CB4DB;
		background-color: $primary;
		background-image: linear-gradient(-50deg, #1B9FC0 30%, transparent 30%, transparent 50%, #1B9FC0 50%, #1B9FC0 80%, transparent 80%, transparent);
		background-size: 1rem 1rem;
	}
}

.radio-block{
	display: block; 
	margin-bottom: var(--bs-gutter-x);
	@include mt;
	cursor: pointer;
	margin-left: auto;
	margin-right: auto;
	max-width: rem(280);
	input{
		@extend .invisible;
	}
	&:hover{
		color: $primary;
	}
	input:checked ~ &__title,
	&:hover &__title{
		background-color: #fff;
		color: $body-color;
		border-color: #fff;
	}
	&__title{
		border-radius: 25px;
		display: block;
		font-size: $large;
		font-weight: 300;
		border: 3px solid rgba(255, 255, 255, 0.21);
		padding: rem(10.5) rem(30);
		@include mt;
	}
}

.contact-variant{
	display: block;
	color: #909090; 
	font-size: 14px;
	font-weight: 200;
	margin-bottom: 1rem;
	text-align: center;
	cursor: pointer;
	input{

		@extend .invisible;
	}
	&__icon-wrap{
		width: 48px;
		height: 48px;
		background-color: $body-color;
		border-radius: 50%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: rem(7);
		&--whatsapp{
			background-color: #3b9a50;
		}
		
		&--viber{
			background-color:  #575ba9;
		}

		.icon{
			font-size: rem(24);
			color: #fff;
		}
	}
	input:checked ~ span{
		color: #fff;
	}
}