// start .sAdvantages
.sAdvantages {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(74)};
		--sPB: #{rem(56)};
	}
	overflow: hidden;
	position: relative;
	.picture-bg {
		z-index: -2;
	}
	.bg-text {
		position: absolute;
		font-size: 184px;
		opacity: 0.1;
		top: -6px;
		z-index: -1;
		font-weight: 900;
		@include media-breakpoint-up(xl) {
			right: 14.0625vw;
			transform: unset;
		}
		left: 50%;
		transform: translateX(-50%);
		white-space: nowrap;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
	.row {
		--bs-gutter-y: 30px;
		@include media-breakpoint-up(lg) {
			--bs-gutter-y: 66px;
		}
		@include media-breakpoint-up(sm) {
			--bs-gutter-y: 27px;
		}
	}
	h2 {
		margin-bottom: 59px;
		@include media-breakpoint-up(md) {
			max-width: rem(670);
			font-weight: 500;
		}
	}
	h3 {
		font-size: 30px;
		font-weight: 500;
		margin-top: 100px;
		text-align: center;
		margin-top: rem(94);
		margin-bottom: rem(15);
		@include media-breakpoint-up(lg) {
			margin-top: rem(122);
		}
		@include media-breakpoint-up(sm) {
			margin-top: rem(140);
		}
	}
	&__sub-title {
		font-size: $large;
		font-weight: 200;
		color: #6a6a6a;
		text-align: center;
	}
	&__item {
		display: flex;
		.icon {
			color: $primary;
			font-size: rem(55);
			min-width: rem(55);
		}
		&-text {
			padding-left: rem(15);
		}
		&-title {
			font-size: rem(20);
			font-weight: 500;
			position: relative;
			padding-bottom: rem(32);
			@include media-breakpoint-up(lg) {
				padding-top: rem(7);
			}
			&::after {
				content: "";
				position: absolute;
				top: rem(43);
				left: 0;
				@include media-breakpoint-up(lg) {
					top: rem(50);
				}
				width: rem(30);
				height: 1px;
				background-color: $primary;
			}
		}
		&-caption {
			color: #6a6a6a;
		}
	}
	&__row {
		position: relative;
	}
	&__bg-line {
		position: absolute;
		margin: 0;
		height: 64px;
		width: 1164px;
		bottom: rem(-94);
		@include media-breakpoint-up(sm){
			min-width: 767px;
			height: 38px;
		}
		@include media-breakpoint-up(lg) {
			bottom: rem(-94);
			height: 64px;
			width: 1164px;
		}
		left: 50%;
		transform: translateX(-50%);
		@include media-breakpoint-down(sm){
			display: none;
		}
	}
	&__step{
		display: flex;
		align-items: center;
		position: relative;
		@include media-breakpoint-down(lg){
			justify-content: center;
		}
		&::before{
			content: '';
			position: absolute;
			background-image: url('../img/svg/sAdvantages-steps.svg');
			@include media-breakpoint-up(xl){
				left: rem(-61);
			}
			@include media-breakpoint-up(lg){
				top: 50%;
				left: rem(-43);
				transform: translateY(-50%);
				width: 30px;
				height: 11px;
			}
			@include media-breakpoint-down(lg){
				top: -20px;
				left: 50%;
				width: 30px;
				height: 11px;
				transform: translateX(-50%) rotate(90deg);
			}
		}
		&-number{
			font-size: 125px;
			color: $primary;
			font-weight: 900;
			letter-spacing: 3.27px;
			
			@include media-breakpoint-up(xl){
				font-size: 131px;
			}
			@include media-breakpoint-up(lg){
				font-size: 100px;
				position: relative;
			}
			@include media-breakpoint-down(lg){
				line-height: 140px;
			}
		}
		&-caption{
			margin-left: 20px;
			font-size: $large;
			color: $black;
			line-height: calc(20/18);
			max-width: 117px;
		}
	}
	&__col{
		&:first-child{
			.sAdvantages__step-caption{
				margin-left: 0;
			}
			.sAdvantages__step{
				&::before{
					display: none;
				}
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAdvantages
