mixin sAdvantages(data)
	// start sAdvantages
	+b.SECTION.sAdvantages.section#sAdvantages&attributes(attributes)
		+pic('advantages-bg.png','bg',0).picture-bg
		.bg-text 10 000м<sup>3</sup>
		.container
			h2 Более 10 000 м<sup>3</sup> камня мы ежегодно перерабатываем в изделие для наших покупателей
			+e.row.row
				+e.IMG.bg-line(alt="" src="img/@2x/sAdvantages-bg-line.png")
				mixin item(i,t,c)
					.col-lg-4.col-sm-6.col-12
						+e.item
							+icon(i)
							+e.item-text
								+e.item-title!=t
								+e.item-caption!=c
				+item('quality','Качество материала','Вся поставляемая продукция сертифицирована и соответствует требованиям ГОСТ.')
				+item('service','Поставляем в срок','Собственный отдел логистики обеспечивает бесперебойную поставку в кратчайший срок.')
				+item('factory','Собственное производство','Изготавливаем Продукцию на собственном производстве на импортном оборудовании')
				+item('box','Доставка бесплатно','Бережно поставляем материал на&nbsp;объект')
				+item('payment','Поэтапная оплата','Индивидуальное финансирование на&nbsp;условиях Покупателя')
				+item('handshake','Экономия денег и времени','Реализуем проекты любой сложности по лучшей цене')
			h3 Мы работаем без посредников
			+e.sub-title Производим расчет в кратчайшие сроки проекта любой сложности.
			.row
				mixin step(n,c)
					+e.col.col-lg-4.col-12
						+e.step
							+e.step-number!=n
							+e.step-caption!=c
				+step('01',`Менеджер обрабатывает заявку`)
				+step('02',`Отдел снабжения делает расчет`)
				+step('03',`Доставляем материал на&nbspобъект`)
	// end sAdvantages