@use "sass:math";

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-arrow-link {
	font-size:math.div(20,10)*1rem;
	width: math.div(27,20)*1em;
}
.icon-arrow-right {
	font-size:math.div(15,10)*1rem;
	width: math.div(19,15)*1em;
}
.icon-basket {
	font-size:math.div(24,10)*1rem;
	width: math.div(22,24)*1em;
}
.icon-box {
	font-size:math.div(461.1,10)*1rem;
	width: math.div(461.1,461.1)*1em;
}
.icon-cargo-truck {
	font-size:math.div(64,10)*1rem;
	width: math.div(64,64)*1em;
}
.icon-check {
	font-size:math.div(27,10)*1rem;
	width: math.div(27,27)*1em;
}
.icon-chevron-down {
	font-size:math.div(500,10)*1rem;
	width: math.div(437.5,500)*1em;
}
.icon-close {
	font-size:math.div(12,10)*1rem;
	width: math.div(12,12)*1em;
}
.icon-close-btn {
	font-size:math.div(17,10)*1rem;
	width: math.div(15,17)*1em;
}
.icon-download {
	font-size:math.div(18,10)*1rem;
	width: math.div(18,18)*1em;
}
.icon-factory {
	font-size:math.div(77,10)*1rem;
	width: math.div(77,77)*1em;
}
.icon-fb {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-filter {
	font-size:math.div(14,10)*1rem;
	width: math.div(14,14)*1em;
}
.icon-handshake {
	font-size:math.div(500,10)*1rem;
	width: math.div(500,500)*1em;
}
.icon-instagram {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-link-arrow {
	font-size:math.div(6,10)*1rem;
	width: math.div(9,6)*1em;
}
.icon-pasport {
	font-size:math.div(64,10)*1rem;
	width: math.div(52,64)*1em;
}
.icon-payment {
	font-size:math.div(500,10)*1rem;
	width: math.div(500,500)*1em;
}
.icon-phone {
	font-size:math.div(22,10)*1rem;
	width: math.div(22,22)*1em;
}
.icon-quality {
	font-size:math.div(500,10)*1rem;
	width: math.div(500,500)*1em;
}
.icon-quality-header {
	font-size:math.div(64,10)*1rem;
	width: math.div(50,64)*1em;
}
.icon-question {
	font-size:math.div(500,10)*1rem;
	width: math.div(500,500)*1em;
}
.icon-search {
	font-size:math.div(30,10)*1rem;
	width: math.div(30,30)*1em;
}
.icon-service {
	font-size:math.div(77,10)*1rem;
	width: math.div(75,77)*1em;
}
.icon-shoping-bag {
	font-size:math.div(70.9,10)*1rem;
	width: math.div(70.9,70.9)*1em;
}
.icon-telegram {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-toggle-icon {
	font-size:math.div(14,10)*1rem;
	width: math.div(18,14)*1em;
}
.icon-viber {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
.icon-vk {
	font-size:math.div(24,10)*1rem;
	width: math.div(24,24)*1em;
}
.icon-warning {
	font-size:math.div(55,10)*1rem;
	width: math.div(55,55)*1em;
}
.icon-whatsapp {
	font-size:math.div(16,10)*1rem;
	width: math.div(16,16)*1em;
}
