mixin sPayment(data)
	// start sPayment
	+b.SECTION.sPayment.section.bg-wrap#sPayment&attributes(attributes)
		+pic('bg-image.png','bg',0).picture-bg
		.container
			+b.section-title
				h1 Оплата
			+e.caption Наша компания сотрудничает как с юридическими, так и с физическими лицами. Вы можете выбрать наиболее удобный для Вас способ оплаты. Для юридических лиц оплата осуществляется по расчетному счету (с НДС или без), для физических лиц предусмотрена оплата по карте, переводом на карту или наличными.
			.tabs
				.tabs__caption
					.tabs__btn.active Для юридических лиц
					.tabs__btn Для физических лиц
				.tabs__wrap
					.tabs__content.active
						+e.info-block
							ul
								li Расчетный счет
								li Оплата с НДС и без НДС
							+e.info-caption Мы подготовим полный комплект документов для бухгалтерии. Готовы будет отправить заказным письмом или с помощью курьерской службы доставки
					.tabs__content
						+e.info-block
							ul
								li Расчетный счет
								li Оплата с НДС и без НДС
							+e.info-caption Мы подготовим полный комплект документов для бухгалтерии. Готовы будет отправить заказным письмом или с помощью курьерской службы доставки
	// end sPayment