mixin sCalc(data)
	// start sCalc
	+b.SECTION.sCalc.section.bg-wrap#sCalc&attributes(attributes)
		+pic("sCalc-bg.jpg",'bg').picture-bg
		.container
			+b.section-title
				h2 Вы можете рассчитать стоимость материалов самостоятельно за 48 сек
				
			.row
				.col-lg-9
					+sQwiz
				.col
					+e.sidebar
						.row
							.col-lg-12.col-auto
									+e.circle--stock Скидки на&nbsp;товар в&nbsp;наличии

							.col-lg-12.col-auto
								+e.circle--gar
									.strong 12 мес.
									| гарантия!
						
						ul.d-none.d-lg-block
							li Мы&nbsp;доставляем материал по&nbsp;всей России.
							li Много товара хранится на&nbsp;3-х складах Санкт-Петербурга, Москвы и&nbsp;Урала
	// end sCalc