mixin sOffers(data)
	// start sOffers
	+b.SECTION.sOffers.section#sOffers&attributes(attributes)
		.container
			h2 Акции и спецпредложения
			+e.slider--js.swiper
				.swiper-wrapper
					mixin item(i,t)
						+e.slider-item.swiper-slide
							+e.slider-item-wrap
								+pic(`sOffers-${i}.png`,'',0)
								+e.text-wrap
									+e.title(href="#")!=t
									+e.old-price 4 900 руб/м<sup>2</sup>
									+e.new-price 4 159 руб/м<sup>2</sup>
								+e.offer-label Акция
								+e.link(href="#")
									+icon('arrow-link')
					+item(1,`Гранит Дымовский Брусчатка`)
					+item(2,`Гранит Серый Плита`)
					+item(3,`Гранит Габбро-Диабаз Брусчатка`)
					+item(4,`Гранит Дымовский Брусчатка`)
					+item(1,`Гранит Дымовский Брусчатка`)
					+item(2,`Гранит Серый Плита`)
				+slider-arrows
	// end sOffers