mixin headerBlock()
	// start headerBlock
	+b.headerBlock.section.bg-wrap#headerBlock&attributes(attributes)
		+pic('header-block.png','bg',0).picture-bg
		.container
			.row
				.col-lg-8.col-12
					h1 Более <span>170 видов</span> изделия из камня&nbsp;по цене от производителя
					+e.caption Пилим и&nbsp;готовим материал на&nbsp;собственном производстве. <br /> Вы&nbsp;получаете самые выгодные цены без накруток сторонних поставщиков
					+e.btn-wrap
						.row
							.col-sm-6.col-12
								+e.btn-catch(href="#") Получить образцы
							.col-sm-6.col-12
								+e.btn-download(href="#")
									+e.btn-download-pic
										+icon('download')
									+e.btn-download-title Скачать полный прайс и спец. предложения
				.col-lg-4.col-12
					+e.pic-item-wrap
						+e.pic-item
							+e.icon-wrap
								+icon('quality-header')
							+e.pic-item-title Качество соответствует требованиям ГОСТ
						+e.pic-item
							+icon('cargo-truck')
							+e.pic-item-title Не срываем сроки поставки
						+e.pic-item
							+icon('pasport')
							+e.pic-item-title Паспорт качества с каждой поставкой
	// end headerBlock