// start .sError
.sError {
	--sPT: 20px;
	// --sPB: ;
	// --sTPB: ;
	@include media-breakpoint-up(lg){
		--sPT:0;
		--sTPB: 17px;
	}
	&__wrap {
		background-color: $white;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 56px;
		padding-bottom: 70px;
		padding-left: 10px;
		padding-right: 10px;
	}
	&__title {
		font-size: $h4-font-size;
		position: relative;
		padding-left: 9px;
		color: $black;
		@include media-breakpoint-up(sm){
			font-size: $h4-font-size;
			padding-left: 24px;
		}
		font-size: 20px;
		font-weight: 500;
		margin-bottom: 30px;
		&::before{
			content:'';
			position: absolute;
			top: 50%;
			left: -18px;
			transform: translateY(-50%);
			background-size: contain;
			background-repeat: no-repeat;
			background-image: url('../img/svg/error-title.svg');
			@include media-breakpoint-up(sm){
				width: 30px;
				height: 30px;
			}
			width: 20px;
			height: 20px;
		}
	}
	&__info {
		display: flex;
		background-color: rgba(#ffe7e7, 0.51);
		flex-direction: column;
		padding-left: 30px;
		padding-right: 30px;
		padding-top: 20px;
		padding-bottom: 20px;
		@include media-breakpoint-up(lg){
			padding-left: 67px;
			padding-right: 67px;
			padding-top: 50px;
			padding-bottom: 50px;
			flex-direction: row;
		}
	}
	&__info-title{
		text-transform: uppercase;
		font-size: $large;
		font-weight: 500;
		color: #131313;
		@include media-breakpoint-up(lg){
			margin-right: 24px;
		}
	}
	&__info-caption{
		@include media-breakpoint-up(lg){
			width: 420px;
			margin-left: 24px;
		}
		
		p{
			margin-bottom: 0;
			font-size: $large;
			color: #131313;
			font-weight: 200;
			line-height: 29px;
			span{
				font-weight: 500;
			}
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sError
