mixin sOneProduct(data)
	// start sOneProduct
	+b.SECTION.sOneProduct.section#sOneProduct&attributes(attributes)
		.container
			+e.wrap
				+ProductSlider()
				+ProductCalc()
				+ProductSpec()
				+ProductAdvantages()
				+ProductSeeAlso()
	// end sOneProduct


mixin ProductSlider()
	+e.slider-block
		+e.slider--js.swiper
			.swiper-wrapper
				mixin slide1()
					.swiper-slide
						a(data-fancybox="single" href="img/@2x/sOneProduct.png")
							img(src="img/@2x/sOneProduct.png", alt="")
				+slide1()
				+slide1()
				+slide1()
				+slide1()
				+slide1()
				+slide1()
		+e.slider-thumbs--js.swiper
			.swiper-wrapper
				mixin slide2()
					.swiper-slide
						+pic('sOneProduct.png','',0)
				+slide2()
				+slide2()
				+slide2()
				+slide2()
				+slide2()
				+slide2()



mixin ProductCalc()
	+e.calc



mixin ProductSpec()
	+e.spec
		h3 Характеристики камня
		+e.spec-block
			mixin item(l,r)
				+b.text-block
					+e.left
						span!=l
					+e.right!=r
			+item(`Месторождение `,`Южно Сулатаевский`)
			+item(`Поверхность`,`Полировка`)
			+item(`Цвет`,`Красный`)
			+item(`Длина `,`600`)
			+item(`Ширина`,`300`)
			+item(`Толщина 20100 `,`20`)
			+item(`Плотность`,`2.6 кг/см3`)
			+item(`Снижение прочности при сжатии породы в водонасыщенном состоянии `,`1.89&nbsp;%`)
			+item(`Водопоглощение `,`0.44&nbsp;%`)
			+item(`Истираемость`,`0.41 г/см2`)
			+item(`Предел прочности при сжатии породы в сухом состоянии `,`126&nbsp;Мпа`)
			+item(`Предел прочности при сжатии горной породы при водонасыщении`,`126&nbsp;Мпа`)
			+item(`Морозостойкость`,`100&nbsp;F`)

mixin ProductAdvantages()
	+e.advantages

mixin ProductSeeAlso()
	+e.seeAlso