mixin sOneProduct(data)
	// start sOneProduct
	+b.SECTION.sOneProduct.section#sOneProduct&attributes(attributes)
		.container
			+e.wrap
				+ProductSlider()
				+ProductCalc()
				+ProductSpec()
				+ProductAdvantages()
				+ProductSeeAlso()
	// end sOneProduct


mixin ProductSlider()
	+e.slider-block
		+e.slider--js.swiper
			.swiper-wrapper
				mixin slide1()
					.swiper-slide
						a(href="img/@2x/sOneProduct.png" data-fancybox="single") 
							img(src="img/@2x/sOneProduct.png", alt="")
				+slide1()
				+slide1()
				+slide1()
				+slide1()
				+slide1()
				+slide1()
		+e.slider-thumbs--js.swiper
			.swiper-wrapper
				mixin slide2()
					.swiper-slide
						+pic('sOneProduct.png','',0)
				+slide2()
				+slide2()
				+slide2()
				+slide2()
				+slide2()
				+slide2()



mixin ProductCalc()
	+b.prod-right-block
		+e.head
			h1 Облицовочная плита
		+e.group
			+e.table
				.row.row-cols-sm-2
					+e.col.col-sm Месторождение: Южно Сулатаевский
					+e.col.col-sm Цвет: Красный
					+e.col.col-sm Поверхность: Полировка,  
					+e.col.col-sm 600х300х20 (ДхШхТ)
			+e.more Все характеристики
		+e.group
			.row
				+e.price.col-auto
					+e.price--old 2 900 руб/м<sup>2</sup>
					+e.price--new 2 450 руб/м<sup>2</sup>
				.col-sm-auto
					+addblock()
			+e.total Итого: #[strong 369 950 руб]
			p Указаны оптовые цены от 100 м2. Окончательную стоимость уточняйте у менеджера.
			+e.btn-wrap
				+e.btn(href="#").btn-primary В корзину
				+e.btn(href="#").btn-outline-primary Купить в 1 клик
mixin ProductSpec()
	+e.spec 2


mixin ProductAdvantages()
	+b.advantages-block
		.row
			mixin item(i,t)
				+e.col.col-6
					+e.img-wrap
						img(src=`img/svg/qqadv-${i}.svg` laoding="lazy", alt="")
					+e.title!= t
			+item(`1`,`Не&nbsp;срываем сроки поставки`)
			+item(`2`,`Производство в&nbsp;СПБ, 3&nbsp;склада по&nbsp;России`)
			+item(`3`,`Гарантия 12&nbsp;месяцев`)
			+item(`4`,`Напилим под ваши размеры`)

mixin ProductSeeAlso()
	+e.seeAlso
		h3 Смотрите также
		.row
			.col-sm-6
				+prodCard({
					stock:'Акция',
					old:'true',
					t:'Облицовочная плита '
					})
					
			.col-sm-6
				+prodCard({
					stock:'Акция',
					old:'true',
					blockAdd:'true',
					t:'Облицовочная плита '
					})
			.col-sm-6
				+prodCard({
					t:'Облицовочная плита '

				})
			.col-sm-6
				+prodCard({
					t:'Облицовочная плита '

				})