// start .sOneProduct
.sOneProduct {
	--sPT: 0;
	position: relative;
	&__wrap {
		max-width: 100%;
			@include media-breakpoint-up(lg){
			max-width: calc(50% - 4px);
		}
	}
 
	&__slider-block {
		margin-bottom: rem(7);
		position: relative;
		max-height: 300px;
		@include media-breakpoint-up(sm){
			max-height: 490px;
		}
		background-color: $white;
	}
	&__slider-thumbs {
		// border: 1px solid black;
		position: absolute;
		top: 6px;
		left: 22px;
		width: 75px;
		height: calc(100% - 26px);
		&::before{
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			height: 20px;
			background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255,0) 100%);
			z-index: 22;
			pointer-events: none;
		}
		.swiper-slide {
			border: 1px solid #dedede;
			width: 73px;
			height: 75px !important;
			@include mt;
			background-color: $white;
			picture {
				width: 70px;
				height: 73px;
				display: flex;
				align-items: center;
				justify-content: center;
				img {
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}
	.swiper-slide-thumb-active{
		border-color: $primary;
	}
	&__slider {
		padding-left: 100px;
		padding-right: 10px;
		.swiper-wrapper {
			height: 300px;
			@include media-breakpoint-up(sm){
				height: 490px;
			}
		}
		.swiper-slide{
			a{
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				img{
					max-width: 100%;
					max-height: 100%;
					width: 100%;
				}
			}
		}
		// .swiper-slide{
		// 	max-height: 490px;
		// 	height: 490px !important;
		// }
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
	&__seeAlso{
		.addBlock{
			--color: #fff;
			background-color: $primary;
			border-color: $primary;
			input{
				background-color: transparent;
			}
			// color: var(--color, #{$primary});
		}
	}
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
	@include media-breakpoint-down(lg){
		.sticky-spacer{
			display: none !important;
		}
	}
} // end.sOneProduct



.prod-right-block{
	margin-bottom: 30px;
		@include media-breakpoint-down(lg){
			position: static !important;
			width: 100% !important;
		}
		@include media-breakpoint-up(lg){
			position: absolute;
			top: 0;
			left: calc(100% + 8px);
			width: 100%;
		}
		background-color: #fff;
		&__head,
		&__group{
			@include media-breakpoint-up(sm) {
				padding: rem(30);
			}
			padding: rem(20) rem(15);
			border-bottom: 1px solid #efefef;
		}
		h1{
			margin: 0;
			line-height: normal;
		}
		&__head{
		}
		&__table{
			color: #6a6a6a;
			.col{
				flex-grow: 1;
				margin-bottom: 0.5rem;
				@include media-breakpoint-up(sm) {

					&:nth-child(2n) {
						max-width: rem(200);
					}
				}
			}
		}
		&__more{
			display: inline-block;
			cursor: pointer;@include mt;
			border-bottom: 1px dotted;
			line-height: 1;
			@extend .text-primary;
			margin-top: 1rem;
			&:hover{
				border-color: transparent;
			}
		}
		&__price--old{
		color: $primary; 
		font-size: $em-base;
		font-weight: 300;
		text-decoration: line-through;
	}
	&__price--new{
		color: $black; 
		@extend .h4; 
		font-weight: 300;
		min-width: rem(180);
	}
	.addBlock{
			@include media-breakpoint-up(sm){

				width: 166px;
			}
			width: 100%;
		border-radius: 25px;
		--color: #{$body-color};
		--h: 54px;
		background-color: $body-bg;
		border-color: $body-bg;
		
	}
	&__total{
		@extend .h2;
		font-weight: normal;
		margin-top: rem(35);
	}
	p{
		color: #6a6a6a;
		max-width: rem(440);
	}
	&__btn-wrap{
		display: flex;
		margin-left: -9px;
		margin-right: -9px;
	}
	&__btn{
		margin-left: 9px;
		margin-right: 9px;
		@extend .btn;
		padding: rem(5);
		width: calc(50% - 9px);
		display: flex;
		justify-content: center;
		align-items: center;
		min-height: 59px;
	}
}


.advantages-block{
	background-color: #fff;
	padding: rem(40) rem(30) rem(40);
	margin-bottom: rem(52);
	.row{
		--bs-gutter-y: 20px;
	}
	&__col{
			@include media-breakpoint-up(sm) {
	
				display: flex;
				align-items: center;
				justify-content: center;
				text-align: left;
				}
				text-align: center;
		font-weight: 500;
		// margin-bottom: rem(40);
		line-height: 1.2;
	}
	&__img-wrap{
			@include media-breakpoint-up(sm) {
				margin-bottom: 0;
				width: 50px;
				margin-right: rem(20);
				height: auto;
			}
			height: 56px;
			vertical-align: middle;
			line-height: 56px;
			margin-bottom: rem(10);
		text-align: center;
		img{
			// min-width: 45px;
		}
	}
	&__title{
		max-width: rem(126);
			@include media-breakpoint-down(sm) {
					margin-left: auto;
					margin-right: auto;
			}
	}
}