mixin sOneDeposit(data)
	// start sOneDeposit
	+b.SECTION.sOneDeposit.section#sOneDeposit&attributes(attributes)
		.container
			+e.block
				h1 Софиевское
				+e.caption
					+pic('one-deposit.png','',0)
					p В Николаевской области Украины разрабатывается Софиевское месторождение гранита. Камень отличается нежной цветовой гаммой в желтовато&#8209;розовых тонах с точечными вкраплениями тёмно-серого. Лёгок в обработке. Структура порфировидная, средне и крупнозернистая, зерно чуть вытянутое.
				h2 Характеристики
				ul
					li Объёмный вес — 2570 кг/м3.
					li Истираемость — 0,14 г/см2.
					li Низкая степень водопоглощения — 0,67%. Гранит устойчив к действию солей, кислот, при намокании серый тон становится более выраженным.
					li Морозостойкость от 100 циклов полного замораживания.
					li Предел прочности при сжатии - 159 МПа.
					li Класс радиоактивности – 1.
				h2 Применение
				+e.mini-caption Благодаря высокой прочности, Софиевский гранит используется для изготовления брусчатки, плит мощения, бордюров, напольной плитки, лестниц для зон с высокой проходимостью. Из него производят городскую и парковую мебель, фасадную и цокольную облицовку.
			+e.page-links
				+e.page-link--prev(href="#")
					.page-link-btn
						+icon('project-slider-arrow')
					.page-link-caption Токимовское
				+e.page-link--next(href="#")
					.page-link-btn
						+icon('project-slider-arrow')
					.page-link-caption Осныковское
			h2 Отзывы
			+e.slider--js.swiper
				.swiper-wrapper
					mixin slide()
						+e.slide.swiper-slide
							+e.slide-wrap
								+e.profile
									+pic('slide-avatar.png','',0)
									+e.profile-name
										+e.name Алексей Садько
										+e.status Владелец частного дома
								+e.slide-caption Заказал продукцию, перед поставкой заехал на предприятие, осмотрел свой заказ и как его упаковывают - все достойно. Заказывал плиту полированную 150 метров, сказали, что сделают в&nbsp;течение 25 рабочих дней, а по факту напилили за 10 дней. Впечатления о предприятии отличное,&nbsp;думаю, мне теперь редко когда потребуется гранит, но советовать определенно буду знакомым.&nbsp;Самое главное, что цены были гораздо ниже, чем у других компаний.
					+slide
					+slide
					+slide
					+slide
				.swiper-button-prev
				.swiper-button-next
				.swiper-pagination
	// end sOneDeposit