// start .sAbout
.sAbout {
	// --sPT: ;
	// --sPB: ;
	--sTPB: 31px;
	@include media-breakpoint-up(xl) {
		--sPT: 75px;
	}
	background-color: $white;
	&__item {
		@include media-breakpoint-down(md) {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&-number {
			font-size: 85px;
			line-height: 85px;
			font-weight: 900;
			color: #c1c1c1;
		}
		&-caption {
			font-size: $small;
			line-height: calc(22 / 15);
			text-align: center;
			max-width: 85%;
			@include media-breakpoint-up(md) {
				max-width: 212px;
				padding-left: 12px;
				text-align: left;
			}
			@include media-breakpoint-down(md){
				margin-bottom: 46px;
			}
		}
	}
	&__row {
		--bs-gutter-y: 38px;
		@include media-breakpoint-up(md) {
			--bs-gutter-y: 50px;
		}
		@include media-breakpoint-between(md,lg){
			--bs-gutter-x: 56px;
		}
	}
	picture{
		position: relative;
		@include media-breakpoint-down(lg){
			margin-bottom: 30px;
		}
		@include media-breakpoint-down(md){
			width: calc(100% + var(--bs-gutter-x));
			margin-left: calc(-0.5 * var(--bs-gutter-x));
			img{
				width: 100%;
			}
		}
	}
	&__caption{
		font-size: $large;
		font-weight: 200;
		color: #6a6a6a;
		letter-spacing: 0.45px;
		line-height: calc(28/18);
		@include media-breakpoint-up(lg){
			max-width: 516px;
		}
	}
	&__link {
		margin-top: rem(26);
		display: inline-block;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 56%;
			right: -29px;
			transform: translateY(-50%);
			width: 20px;
			height: 15px;
			background-image: url("../img/svg/arrow-link.svg");
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sAbout
