mixin sAbout(data)
	// start sAbout
	+b.SECTION.sAbout.section#sAbout&attributes(attributes)
		.container-md
			+b.section-title
				h2 О компании
			+e.row.row
				.col-lg-12.col-md-4.col-12.order-1.order-lg-0
					.row
						mixin item(n,c)
							.col-12.col-lg-3
								+e.item
									+e.item-number!=n
									+e.item-caption!=c
						+item(`10+`,`лет на рынке обработки и производства материалов из гранита`)
						+item(`12`,`месяцев гарантии на производимые изделия`)
						+item(`180`,`производимых изделий`)
						+item(`3`,`склада по России`)
				.col-lg-12.col-md-8.col-12.order-0.order-lg-1
					.row
						.col-lg-6.col-12
							+pic('sAbout.png','',0)
						.col-lg-6.col-12
							+e.caption Наша компания располагает собственным современным цехом полного цикла с новейшим импортным оборудованием от ведущих производителей. Наши специалисты стремятся к усовершенствованию производственного процесса и стремятся получать знания в области новинок и тенденций камнеобработки, в том числе оборудования и методов пиления.<br><br>Благодаря опыту мы можем проконсультировать Вас по любым вопросам процессов изготовления продукции из натурального камня и правильного ухода за ним.
							+e.link(href="#") Подробнее о компании

	// end sAbout