extends layout/main.pug


include ../blocks/sOffers/_sOffers.pug
include ../blocks/sOneProduct/_sOneProduct.pug
include ../blocks/sProducts/_sProducts.pug 
include ../blocks/sContact/_sContact.pug

block variables
	- let  mainPage= null 
	- let  bg= '3.png'

block title
	- let  title= 'Облицовочная плита'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+topLine('cart')
		+top-nav()
	+breadcrumb('Главная','Каталог','Облицовочные плиты',title)
	+sOneProduct()
	+sForm
	+sContact()
	+footer()
      



