extends layout/main.pug


include ../blocks/sOffers/_sOffers.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sProject/_sProject.pug 

block variables
	- let  mainPage= null 
	- let  bg= '10.jpg'

block title
	- let  title= 'Фонтаны из натурального камня'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+topLine('cart')
		+top-nav()
	+breadcrumb('Главная','О компании','Статьи',title)
	//- +sContact()
	+sProject()
	+sForm(`Нужна помощь специалиста?`)
	+sContact()
	+footer()
      



