extends layout/main.pug


include ../blocks/sOffers/_sOffers.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sError/_sError.pug 

block variables
	- let  mainPage= null 
	- let  bg= '19.jpg'

block title
	- let  title= 'Оформление заказа'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+topLine('cart')
		+top-nav()
	+breadcrumb('Главная',title)
	//- +sContact()
	+sError()
	+sForm(`Нужна помощь специалиста?`)
	+sContact()
	+footer()
      



