extends layout/main.pug


include ../blocks/sOffers/_sOffers.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sCalc/_sCalc.pug
include ../blocks/sAdvantages/_sAdvantages.pug
include ../blocks/sReviews/_sReviews.pug
include ../blocks/sDeposits/_sDeposits.pug
include ../blocks/sRequest/_sRequest.pug
include ../blocks/sAbout/_sAbout.pug
include ../blocks/sContact/_sContact.pug
include ../blocks/sQwiz/_sQwiz.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= 'main.jpg'

block title
	- let  title= 'Главная'
	title= title
block pagecontent
	//- +mob-mnu()
	+header()
		+topLine('cart')
		+top-nav()
	+headerBlock()
	+sOffers()
	+sCatalog()
	+sCalc()
	+sAdvantages()
	+sReviews()
	+sDeposits()
	+sRequest()
	+sAbout()
	+sContact()
	//- +footer()
      



