mixin sOneArticle(data)
	// start sOneArticle
	+b.SECTION.sOneArticle.section#sOneArticle&attributes(attributes)
		.container
			+e.article-body
				h1 Фонтаны из натурального камня
				+e.title-wrap
					+pic('sOneArticle.png','',0)
					+e.title-text Фонтаны из натурального камня украшают интерьеры и наружные ансамбли с давних времен. Кто-то видит в фонтане источник жизненной силы, кого-то умиротворяет журчание воды, а кому-то доставляет удовольствие созерцать игру солнечных лучей, преломлённых в струях фонтана.
				+e.spheres
					h2 Сферы применения фонтанов из натурального камня
					p Каменные фонтаны принято использовать:
					ul
						li на дачных участках;
						li в местах отдыха;
						li в общественных помещениях;
						li в интерьерах частных домов и квартир.
					p Уличные фонтаны из камня применяются при оформлении скверов, парков, пешеходных зон, уютных двориков и любых других объектов садово-паркового хозяйства. Где бы ни был расположен такой фонтан, он всегда представляет собой впечатляющее и запоминающееся зрелище.
				+e.note Каменные фонтаны также часто используются в качестве декоративного элемента в интерьере. Эти изделия могут использоваться в квартирах, жилых домах, торговых центрах, офисах, магазинах, холлах бизнес-центров и в других помещениях.
				+e.materials
					h2 Породы, применяющиеся при изготовлении фонтанов
					p При изготовлении фонтанов обычно используются следующие виды камня:
					mixin item(i,t,c)
						+e.item
							+pic(`materials-${i}.png`,'',0)
							+e.item-text
								h3!=t
								+e.item-caption!=c
					+item(1,`Гранит`,`Изделия из гранита отличаются отличной влагостойкостью, устойчивостью к воздействию высоких и низких температур, а также к механическим воздействиям.`)
					+item(2,`Мрамор`,`Податливый в обработке материал позволяет мастерам создавать детализованные скульптуры, которые отличаются изысканностью и изяществом.`)
					+item(3,`Травертин`,`Фонтан из травертина – неповторимое изделие, которое станет ключевым элементом любого архитектурно-ландшафтного ансамбля.`)
					+item(4,`Оникс`,`Этот материал становится все более популярным при изготовлении фонтанов. Фонтан из оникса станет отличным украшением интерьера жилых домов, участков и мест отдыха.`)
				+e.advantages
					h2 Преимущества фонтанов из натурального камня
					+e.note Фонтаны, изготовленные из камня, имеют массу преимуществ перед аналогичными изделиями из других материалов. Они отличаются высокой прочностью, безопасны для человека и окружающей среды, а их эстетичный внешний вид вызывает восхищение.
					+e.list-title Фонтаны из натурального камня обладают следующими преимуществами:
					ul 
						li высокая износоустойчивость;
						li устойчивость к внешним воздействиям;
						li вариативность форм и деталей;
						li устойчивость к высоким и низким температурам;
						li эстетичность;
						li разнообразие текстур и сортов камня.
			//- +e.share
			//- 	p Поделиться в
			//- 	+e.share-link(href="#")
			//- 		img(src="img/svg/fb.svg", alt="")
			//- 	+e.share-link(href="#")
			//- 		img(src="img/svg/insta.svg", alt="")
			//- 	+e.share-link(href="#")
			//- 		img(src="img/svg/vk.svg", alt="")
			//- 	+e.share-link(href="#")
			//- 		img(src="img/svg/youtube.svg", alt="")
			//- 	+e.share-link(href="#")
			//- 		img(src="img/svg/yandex.svg", alt="")
			//- 	+e.share-link(href="#")
			//- 		img(src="img/svg/gplus.svg", alt="")
			script(src='https://yastatic.net/share2/share.js')
			.ya-share2(data-curtain='' data-size='l' data-shape='round' data-services='vkontakte,facebook,odnoklassniki,telegram,twitter,whatsapp')
			+e.page-links
				+e.page-link--prev(href="#")
					.page-link-btn
						+icon('project-slider-arrow')
					.page-link-caption Предыдущая статья
				+e.page-link--next(href="#")
					.page-link-btn
						+icon('project-slider-arrow')
					.page-link-caption Следующая статья
			
			+e.also
				h2 Смотрите также
				.row
					+article-item(1, `Фонтаны из натурального камня`, `Фонтаны из натурального камня украшают интерьеры и архитектурно-ландшафтные ансамбли с давних времен. Они придают помещению благородный внешний вид, создают атмосферу спокойствия и умиротворения`)
					+article-item(2, `Виды гранитной брусчатки`, `Брусчатка из гранита - это очень красивое и долговечное покрытие. Она появилась еще во времена Римской Империи и до сегодняшнего дня не утратила своей популярности в строительстве.`)
	// end sOneArticle