// start .sCatalog
.sCatalog {
	@include media-breakpoint-up(lg) {
		--sPT: #{rem(71)};
	}
	h2 {
		font-size: rem(36);
		font-weight: 500;
		margin-bottom: rem(44);
	}
	&__caption {
		font-size: $large;
		font-weight: 200;
		line-height: calc(28 / 18);
		letter-spacing: 0.45px;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-moz-box-orient: vertical;
		-ms-box-orient: vertical;
		box-orient: vertical;
		@include media-breakpoint-down(sm) {
			-webkit-line-clamp: 4;
			-moz-line-clamp: 4;
			-ms-line-clamp: 4;
			line-clamp: 4;
		}
		overflow: hidden;
		@include media-breakpoint-up(sm) {
			margin-bottom: rem(35);
		}
		@include media-breakpoint-up(lg) {
			margin-bottom: rem(65);
		}
		&--active{
			@include media-breakpoint-down(sm) {
				-webkit-line-clamp: unset;
				-moz-line-clamp: unset;
				-ms-line-clamp: unset;
				line-clamp: unset;
			}
		}
	}
	&__show-more {
		margin-bottom: rem(35);
		font-size: $large;
		color: $primary;
		cursor: pointer;
		position: relative;
	}
	&__call-wrap {
		display: flex;
		margin-bottom: rem(9);
		padding-top: rem(6);
		@include media-breakpoint-up(xl) {
			padding-left: rem(25);
		}
	}
	&__call-title {
		font-size: $small;
		padding-left: rem(12);
	}
	&__call-icon {
		min-width: rem(64);
		height: rem(64);
		position: relative;
		background-color: $primary;
		border-radius: 50%;
		box-shadow: 0px 0px 0px 8px rgba($primary, 0.2), 0px 0px 0px 16px rgba($primary, 0.07);
		animation-name: shadowPulse;
		animation-duration: 1.5s;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		@keyframes shadowPulse {
			0% {
				box-shadow: 0px 0px 0px 8px rgba($primary, 0.2), 0px 0px 0px 16px rgba($primary, 0.07);
			}
			50% {
				box-shadow: 0px 0px 0px 8px rgba($primary, 0.5), 0px 0px 0px 16px rgba($primary, 0.2);
			}
			100% {
				box-shadow: 0px 0px 0px 8px rgba($primary, 0.2), 0px 0px 0px 16px rgba($primary, 0.07);
			}
		}
		.icon {
			color: $white;
			font-size: rem(23);
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
	}
	&__tel {
		text-align: center;
		font-size: rem(22);
		font-weight: 900;
		margin-bottom: rem(10);
	}
	&__tel-link {
		display: inline-block;
		font-size: $small;
		line-height: calc(24 / 15);
		border-bottom: 1px dashed $primary;
		margin-bottom: rem(9);
	}
	&__soc-wrap {
		display: flex;
		a {
			display: inline-block;
			img {
				width: 25px;
				height: 25px;
				margin-left: 7px;
				margin-right: 7px;
			}
		}
	}
	&__col {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__row {
		--bs-gutter-y: #{rem(10)};
		@include media-breakpoint-up(sm) {
			--bs-gutter-x: #{rem(25)};
			--bs-gutter-y: #{rem(30)};
		}
		@include media-breakpoint-up(lg) {
			--bs-gutter-x: 29px;
			--bs-gutter-y: 31px;
		}
	}
	&__item {
		display: flex;
		border: 1px solid #e1e1e1;
		height: 100%;
		@include mt;
		@include media-breakpoint-up(sm) {
			flex-direction: column;
		}
		&:hover {
			box-shadow: 0 0 16px rgba(0, 0, 0, 0.18);
		}
		picture {
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: $white;
			max-width: 130px;
			max-height: 80px;
			width: 130px;
			height: 80px;
			margin-top: 43px;
			margin-left: 20px;
			margin-bottom: 29px;
			@include media-breakpoint-up(sm) {
				height: rem(200);
				max-width: none;
				max-height: none;
				margin: 0;
				width: auto;
			}
			@include media-breakpoint-up(md) {
				height: rem(210);
			}
			@include media-breakpoint-up(lg) {
				height: rem(206);
			}
			img {
				max-height: 100%;
			}
		}
		&-text {
			padding-top: rem(31);
			padding-right: rem(19);
			padding-left: rem(20);
			padding-bottom: rem(10);
			@include media-breakpoint-up(sm) {
				padding-top: 0;
				padding-left: rem(23);
				padding-right: rem(23);
				padding-bottom: rem(32);
			}
		}
		&-link {
			font-weight: 500;
			line-height: calc(24 / 16);
			color: $body-color;
			border-bottom: 1px dashed transparent;
			margin-bottom: rem(11);
			display: inline-block;
			&:hover {
				color: $primary;
				border-color: $primary;
			}
		}
		&-price {
			font-size: $small;
			color: #868686;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sCatalog
