mixin topLine()
	// start topLine
	+b.SECTION.topLine.section#topLine&attributes(attributes)
		.container
			.row
				.col-auto
					+e.choose-city
						+e.choose-city-btn Санкт-Петербург
						+e.choose-city-list
							ul
								li
									a(href="#") Москва
								li
									a(href="#") Санкт-Петербург
								li
									a(href="#") Саратов
				.col-auto.d-lg-block.d-none
				.col-lg
				.col-12.d-lg-block.d-none
				.col-auto
				.col-lg
				.col-lg-auto

	// end topLine