mixin sReviewsNoteSlider(data)
	// start sReviewsNoteSlider
	+b.SECTION.sReviewsNoteSlider.section#sReviewsNoteSlider&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sReviewsNoteSlider
				
			.row
	// end sReviewsNoteSlider