// start .sReviewsNoteSlider
.sReviewsNoteSlider {
	// --sPT: ;
	--sPB: 10px;
	// --sTPB: ;
	position: relative;
	z-index: 5;
	margin-top: -283px;
	&__slider {
		position: relative;
		@include media-breakpoint-up(lg) {
			padding: 0;
		}
		@include media-breakpoint-down(sm){
			overflow: unset;
		}
		padding-bottom: 80px;
	}
	&__slide{
		@include media-breakpoint-down(sm){
			width: auto;
			margin-right: 10px;
		}
	}
	&__slide-wrap {
		background-color: $white;
		@include media-breakpoint-up(lg) {
			max-width: 74.5%;
			padding-top: 28px;
			padding-bottom: 48px;
			padding-left: 53px;
			padding-right: 82px;
			min-height: 372px;
			margin: unset;
		}
		@include media-breakpoint-up(sm){
			width: calc(100% - 130px);
			margin-left: auto;
			margin-right: auto;
			max-width: unset;
		}
		max-width: 84vw;
		padding-top: 15px;
		padding-bottom: 30px;
		padding-left: 30px;
		padding-right: 30px;
		@include media-breakpoint-up(sm){
		padding-top: 20px;
		padding-bottom: 40px;
		padding-left: 40px;
		padding-right: 40px;
		min-height: 410px;
		}
		min-height: 330px;
		@include media-breakpoint-up(md){
			min-height: 330px;
		}
		@include media-breakpoint-up(xl) {
			min-height: 319px;
		}
	}
	&__profile {
		display: flex;
		align-items: center;
		margin-bottom: 21px;
		picture {
			width: 62px;
			height: 62px;
			border-radius: 50%;
			img {
				max-height: 100%;
				object-fit: cover;
			}
		}
	}
	&__profile-name {
		padding-left: 13px;
	}
	&__name {
		font-size: 20px;
		font-weight: 500;
		line-height: 20px;
		margin-bottom: 7px;
	}
	&__status {
		color: #6a6a6a;
		line-height: 16px;
		font-weight: 200;
	}
	&__slide-caption {
		color: #6a6a6a;
		font-weight: 200;
		font-size: $small;
		letter-spacing: 0.3px;
		@include media-breakpoint-up(sm){
			font-size: $large;
		}
	}
	&__slider-arrows {
		@include media-breakpoint-up(sm){
			display: flex;
		}
		display: none;
		position: absolute;
		@include media-breakpoint-up(lg) {
			left: 76.8%;
			top: 259px;
			transform: none;
			width: auto;
			justify-content: unset;
		}
		left: 0;
		width: 100%;
		justify-content: space-between;
		transform: translateY(-50%);
		top: 50%;
		z-index: 10;
		.swiper-button-prev,
		.swiper-button-next {
			display: block;
		}
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sReviewsNoteSlider
