.soc {
	@include roww(10px, m);
	display: flex;
	&__item {
		text-decoration: none !important;
		vertical-align: middle;
		@include mt;
		display: grid;
		place-items: center;
		&:hover {
			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
			// opacity: .6 ;
		}
	}
	.icon {
		font-size: rem(30);
	}
}

.counter {
	counter-reset: num;
	&__item {
		position: relative;
		&::before {
			content: counter(num);
			counter-increment: num;
		}
	}
}

.slider-arrows-wrap {
	display: flex;
	flex-direction: row-reverse;
	position: absolute;
	@include media-breakpoint-up(md) {
		top: rem(23);
		right: 0;
	}
	@include media-breakpoint-down(md) {
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}

.swiper-button-prev,
.swiper-button-next {
	@extend .btn, .btn-primary;
	@include mt;
	position: relative;
	width: 52px;
	height: 52px;
	left: auto;
	right: auto;
	margin-right: 5px;
	margin-left: 5px;
	border-radius: 50%;
	box-shadow: none !important;
	&::after {
		content: "";
		background-image: url("../img/svg/arrow-slider.svg");
		width: 23px;
		height: 15px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
	}
}
.swiper-button-prev {
	&::after {
		transform: translate(-50%, -50%) scaleX(-1);
	}
}
.swiper-button-disabled {
	@extend .btn-primary-disabled;
}

.addBlock {
	color: var(--color, #{$primary});
	border: 1px solid;
	border-radius: 23px;
	display: flex;
	position: relative;
	overflow: hidden;
	input {
		color: inherit;
		text-align: center;
		border: none;
		height: var(--h, #{rem(45)});
		width: auto;
		flex-grow: 1;
		width: calc(100% - #{rem(52)});
		font-weight: 300;
		line-height: normal;
		outline: none !important;
		background-color: transparent;
	}
	&__btn {
		flex: 0 0 auto;
		color: inherit;
		height: var(--h, #{rem(45)});
		position: relative;
		border-radius: 23px;
		background: none !important;
		border: none !important;
		box-shadow: none !important;
		outline: none !important;
		background: transparent;
		// padding-left: rem(8);
		// padding-right: rem(8);
		width: rem(26);
		&::before,
		&::after {
			content: "";
			width: 10px;
			height: 2px;
			background-color: currentColor;
			@include a-cent;
			position: absolute;
		}
		&--plus::after {
			transform: rotate(90deg);
		}
	}
}

.article-item {
	display: flex;
	flex-direction: column;
	background-color: $white;
	height: 100%;
	@include media-breakpoint-up(lg) {
		&:hover {
			box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
		}
	}
	picture {
		@include block(360, 263);
		img {
			position: absolute;
			left: 0;
			top: 0;
		}
	}
	&__caption {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		padding: rem(26);
		h5 {
			color: $body-color;
			margin-bottom: rem(15);
			letter-spacing: 0.5px;
		}
		p {
			flex-grow: 1;
			line-height: calc(24 / 16);
			letter-spacing: 0.4px;
			color: #6a6a6a;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
}
