// start .sOurWorks
.sOurWorks {
	// --sPT: ;
	// --sPB: ;
	// --sTPB: ;
	@include media-breakpoint-up(lg) {
		--sPT: 18px;
		--sPB: 80px;
	}
	.row {
		--bs-gutter-x: 50px;
		--bs-gutter-y: 50px;
	}
	&__item {
		background-color: $white;
		padding-bottom: 32px;
		display: block;
		--text-color: #{$body-color};
		height: 100%;
		&:hover {
			--text-color: #{$primary};
		}
		picture {
			img {
				max-height: 100%;
				width: 100%;
			}
		}
	}
	&__title {
		margin-top: 24px;
		font-size: 20px;
		font-weight: 500;
		line-height: 28px;
		padding-left: 31px;
		padding-right: 31px;
		letter-spacing: 0.5px;
		color: var(--text-color);
		@include mt;
	}
	&__caption {
		color: #6a6a6a !important;
		font-size: $large;
		font-weight: 200;
		margin-top: 11px;
		padding-left: 31px;
		padding-right: 31px;
	}
	&__show {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 48px;
		padding-top: 44px;
		border-bottom: 1px solid #d6d6d6;
	}
	&__show-title {
		color: #808080 !important;
		position: relative;
		padding-left: 64px;
		font-size: 20px;
		font-weight: 700;
		.icon {
			font-size: 47px;
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
		}
	}
	.pagination-wrapper {
		margin-top: 31px;
	}
	@include media-breakpoint-up(xl) {
	}
	@include media-breakpoint-up(lg) {
	}
	@include media-breakpoint-up(md) {
	}
	@include media-breakpoint-up(sm) {
	}
	@include media-breakpoint-between(md, xl) {
	}
	@include media-breakpoint-only(xl) {
	}
	@include media-breakpoint-down(xl) {
	}
} // end.sOurWorks
