mixin sOurMission(data)
	// start sOurMission
	+b.SECTION.sOurMission.section#sOurMission&attributes(attributes)
		.container
			.row
				.col-lg-6
					+b.section-title
						h2 Наша миссия - всегда идти вперед в развитие камнеобрабатывающей сферы, улучшая качество производимых изделий.
						p Мы заботимся о профессиональном росте наших работников и успешно внедряем собственные разработки в области обработки камня. Предоставляем возможность воплощать любую идею, мечту или проект  из натурального камня в реальность, тем самым делаем счастливыми наших Покупателей.
				.col-lg-6
					+e.principles
						+e.title Наши принципы
						ul
							li высококвалифицированные специалисты дают возможность профессионально проконсультировать Вас;
							li собственное производство дает возможность изготовить качественную продукцию;
							li многолетний опыт дает возможность доверия в&nbsp;работе;
							li полный цикл современного оборудования дает возможность воплотить любой проект в&nbsp;жизнь из&nbsp;натурального камня;
							li гарантийные обязательства дают возможность быть спокойными при покупке изделий на&nbsp;нашем производстве.

	// end sOurMission