mixin sOurMission(data)
	// start sOurMission
	+b.SECTION.sOurMission.section#sOurMission&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 sOurMission
				
			.row
	// end sOurMission