mixin allcss() 
	link(href="libs/swiper/swiper.min.css", rel="stylesheet")
	link(href="libs/swiper/swiper-bundle.min.css", rel="stylesheet")
	link(href="libs/@fancyapps/ui/fancybox.css", rel="stylesheet")
	link(href="libs/ion-rangeslider/css/ion.rangeSlider.min.css", rel="stylesheet")
	link(href="css/main.min.css", rel="stylesheet")

mixin allcjs() 
	script(src="libs/jquery/jquery.min.js")
	script(src="libs/@fancyapps/ui/fancybox.umd.js") 
	script(src="libs/swiper/swiper-bundle.min.js")  
	script(src="libs/inputmask/inputmask.min.js") 
	script(src="libs/ion-rangeslider/js/ion.rangeSlider.min.js") 
	script(src="js/common.js")